body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 80%;
  margin-top: 10px;
}
.header {
  height: 60px;
  color: #000;
  border: 2px solid lightgrey;
  padding: 10px 0px 0px 16px;
  font-size: 29px;
  font-weight: bold;
}
.tab_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.54);
  background: #dcd8d8;
  border: 2px solid lightgrey;
}
.tabs_wrapper {
  max-width: 570px;
  width: 90%;
  padding: 20px;
  margin: auto;
  background: #dcd8d8;
  overflow: hidden;
}
.tab_buttons {
  display: flex;
  transition: all 0.6s;
}
.tab_selector {
  min-width: 160px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.active {
  border-bottom: 1px solid blue;
}
.chevron_position {
  position: absolute;
  top: 10px;
  font-size: 20px;
}
.chevron_left {
  left: 9px;
}
.chevron_right {
  right: 32px;
}
.plus_right {
  right: 2px;
}
.close_Tab {
  margin-left: 10px;
}
.display_none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.tab_content {
  background-color: #fff;
  padding: 20px;
}
